
.box{
  position: relative;
  display: none;
  height: 500px;
}

.active{
  display: block;
}

.titolo, 
.caption{
  text-align: right;
  position: absolute;
  right: 0;
  color: white;
  font-size: 25px;
  padding-right: 10px;
}

.titolo{
  bottom: 138px;
}

.caption{
  bottom: 0;
}

.box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-right{
  height: 100px;
  opacity: 0.5;
}

.box-right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active-thumb{
  opacity: 1;
}

.carosello-right{
  position: relative;
}


.prev, 
.next{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 30px;
  height: 30px;
  background-color:rgba(255, 255, 255, .5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.prev{
  top: 10px;
}

.next{
  bottom: 10px;
}
